.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: peachpuff;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.cities {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.citiesElement {
  isplay: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  vertical-align: middle;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
  text-align: right;
}

footer {
  text-align: center;
  font-size: 18px;
  color: white;
}
video {
  width: 500px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  position: center;
  border: transparent;
  text-align: center;
}
